@import "../../variables.scss";

.details {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;

    text-align: left;
  }

  &_btn_back {
    font-size: 22px;
    color: $link-color;
    text-decoration: none;
  }

  &__slider {
    flex-grow: 3;
    width: 70%;
  }

  &__text {
    flex-grow: 1;
    width: 30%;
  }

  &__text {
    margin-left: 30px;
  }

  &__seller_name {
    font-size: 20px;
    color: $link-color;
    text-decoration: none;

    cursor: pointer;
  }
}
