$link-color: #009cf0;
$link-hover: tomato;
$light-text: #8f8f8f;
$shadow-color: #dddddd;
$btn-hover: rgba(0, 0, 0, 0.1);
$logo-blue: #00aaff;
$logo-red: #ff6163;
$logo-green: #97cf26;
$logo-violet: #a169f7;
